@import url("normalize.css");

* {
    box-sizing: border-box;
}

:root {
    --main-color: #339af0;
}

body {
    margin: 0;
    overflow: hidden;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.visually-hidden {
    /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.btn,
.input {
    font-size: 1em;
    padding: 0.75em 1em;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 0.4em;
}

.btn {
    line-height: 0.8em;
    cursor: pointer;
}

.input {
    padding-left: 0.9em;
    padding-right: 0.9em;
    border: 2px solid #ddd;
    text-align: center;
    width: 36%;
    min-width: 18em;
}

.btn:hover {
    color: var(--main-color);
}

.btn:focus {
    background-color: var(--main-color);
    color: #fff;
}

.input:hover,
.input:focus {
    border-color: var(--main-color);
}

.controls {
    --spacing: 10px;
    --height: 95px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: var(--height);
    margin: 0 calc(-1 * var(--spacing));
}

.controls > * {
    margin: 0 var(--spacing);
}

.github-corner:hover .octo-arm,
.github-corner:focus .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

/* @keyframes */
@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}

/* @media rules*/
@media (max-width: 500px) {
    .github-corner:hover .octo-arm,
    .github-corner:focus .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
